.interface{
	margin-right: 50px;
}
button{
	color:#FFF500;
	background-color: #868686;
	border-color: #000;
}
input{
  background-color: #868686;
  color: #FFF500;
  border: 1px solid black;
}
select{
    background-color: #868686;
    color: #FFF500;
    border: 1px solid black;
}

.checkButton{
  color:#FFF500;
}
.label{
	color:#0F0;
}
.selector{
	color: #FFF500;
	background-color: #868686;
	border-color: #000;
  height:20px;
}
/*slider for gui */
.slider {
  -webkit-appearance: none;
  height: 25px;
  width: 130px;
  background: #000f;
  outline: none;
  opacity: 0.7;
  border-radius: 5px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 15px;
}
/*slider for auxiliary GUI*/
.sliderAux {
  -webkit-appearance: none;
  height: 25px;
  width: 360px;
  background: #000f;
  outline: none;
  opacity: 0.7;
  border-radius: 5px;
}
.sliderAux::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 15px;
}

/*mozilla navigateur vesion*/
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}